body {
  background-size: cover;
  margin: 0;
  max-width: 1500px;
}
a:hover {color: #21b09d;

}
h1 {

}

body{

font-size: 25pt;
margin-left: 250px;
margin-right: 250px;
}

div {
  padding-top: 250px;
  padding-right: 250px;
  padding-left: 250px;
}

.text{
background: rgb(255,255,255,0.9);
  position: absolute;

  padding:20px;
  /* width: 500px;
  height:200px; */
  z-index: 100;
}
