@font-face {
  font-family: "8bit16";
  src: url("pixelmix.ttf");
}
body {
  background-image: url("gifs/starspixel.gif");
  background-size: cover;
  margin: 0;
  max-width: 1700px;
  cursor: url('emorysmall.png'),auto;
  font-family: "pixelmix";
}

a:hover {color: #38945b;
}



.emory {
position:relative;
top:100px
}




.video {
  position:relative;
  top:400px
}

@font-face {
	font-family: ‘8bit16’;

	src: url(8bit16.ttf’) format(‘truetype’);
}
